


.light-theme {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.dark-theme {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background-color: #1f1e1e;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}
.dark-theme .hero-image {
  position: relative;
  padding-top: 100px;
  background-image: url("img/bg-html.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 48px;
}

.dark-theme .hero-image .container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dark-theme .hero-image::before {
  position: absolute;
  content: "";
  top: -90px;
  left: 500px;
  width: 800px;
  height: 800px;
  background-image: url("img/hero-image.svg");
  background-repeat: no-repeat;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.light-theme .page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
  background-color: #fea18d
}

.dark-theme .page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
  background-color: #141414;
}

.page-header .container{
  position: left;
  max-width: 1408px;
  text-align: center;
  margin-left: 150px;
}

.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.light-theme .page-header a {
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 550;
  margin-right: 100px;
}

.dark-theme .page-header a {
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 550;
  margin-right: 100px;
}

.light-theme .theme-button {
  position: right;
  cursor: pointer;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 16px;
  font-size: 12px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-theme .theme-button {
  position: right;
  cursor: pointer;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 16px;
  font-size: 12px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
  color: #1f1e1e;
  border: 1px solid #1f1e1e;
}

.light-theme .theme-button:focus,
.light-theme .theme-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.dark-theme .theme-button:focus,
.dark-theme .theme-button:hover {
  color: #1f1e1e;
  background-color: #ffffff;
}

.light-theme .theme-button:focus {
  outline-color: #ffffff;
}

.dark-theme .theme-button:focus {
  outline-color: #1f1e1e;
}

.hero-image {
  margin-bottom: 480px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.light-theme .hero-image h1,
.light-theme .hero-image p {
  color: #000000;
  webkit-text-stroke-width: 2px;
  webkit-text-stroke-color: white;
}

.dark-theme .hero-image h1,
.dark-theme .hero-image p {
  color: #ffffff;
  webkit-text-stroke-width: 2px;
  webkit-text-stroke-color: black;
}

.light-theme .heading {
  margin: 0 0 16px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.dark-theme .heading {
  margin: 0 0 16px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
  text-align: left;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
  text-align: center;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Marker Felt", fantasy;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.semen {
  margin: 0 0 56px;
  font-family: "Marker Felt", fantasy;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills {
  padding-top: 64px;
}

.skills-list {
  margin: 0;
  padding: 0;
  background-image: url("img/bg-html.png");
}

.skills-list dt {
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: left;
  text-align: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.skill-python {
  background-image: url("img/icon-python.png");
  background-size: 32px;
}

.skill-pascal {
  background-image: url("img/icon-pascal.svg");
}

.skill-java {
  background-image: url("img/icon-java.svg");
}

.light-theme .level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.dark-theme .level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #1f1e1e;
  border: 1px solid #00ff00;
  border-radius: 8px;
}

.light-theme .level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.dark-theme .level div {
  margin: 1px;
  height: 12px;
  background-color: #bfff00;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.slider {
 z-index: 9;
 width: 510px;
 height: 800px;
 overflow: hidden;
 margin: 0 0 7px;
 margin-left: 30%;
 position: relative;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px;
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: px;
 height: 750px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 12px;
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }


.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.light-theme .page-footer {
  padding: 20px 0;
  background-color: #00417d;
  color: #ffffff;
}

.dark-theme .page-footer {
  padding: 20px 0;
  background-color: #141414;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

