


.light-theme {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.dark-theme {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background-color: #1f1e1e;
  background-repeat: no-repeat;
  background-image: url("img/hero-image.svg");
  background-size: 85%;
  background-position: top right;
  background-position-y: 90px;
  background-position-x: 220px;
}
.dark-theme .hero-image {
  position: relative;
  background-image: url("img/bg-html.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 48px;
}

.dark-theme .hero-image .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.light-theme .page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
  background-color: #fea18d
}

.dark-theme .page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
  background-color: #141414;
}

.page-header .container{
  position: left;
  max-width: 1408px;
  text-align: center;
}

.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.light-theme .page-header a {
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 550;
  margin-right: 100px;
}

.dark-theme .page-header a {
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 550;
  margin-right: 100px;
}

.light-theme .theme-button {
  position: right;
  cursor: pointer;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 16px;
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-theme .theme-button {
  position: right;
  cursor: pointer;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 16px;
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #1f1e1e;
}

.light-theme .theme-button:focus,
.light-theme .theme-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.dark-theme .theme-button:focus,
.dark-theme .theme-button:hover {
  color: #1f1e1e;
  background-color: #ffffff;
}

.light-theme .theme-button:focus {
  outline-color: #ffffff;
}

.dark-theme .theme-button:focus {
  outline-color: #1f1e1e;
}

.hero-image {
  margin-bottom: 480px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.light-theme .hero-image h1,
.light-theme .hero-image p {
  color: #000000;
  webkit-text-stroke-width: 2px;
  webkit-text-stroke-color: white;
}

.dark-theme .hero-image h1,
.dark-theme .hero-image p {
  color: #ffffff;
  webkit-text-stroke-width: 2px;
  webkit-text-stroke-color: black;
}

.light-theme .heading {
  margin: 0 0 16px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.dark-theme .heading {
  margin: 0 0 16px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
  text-align: center;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
  text-align: center;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Marker Felt", fantasy;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.semen {
  margin: 0 0 56px;
  font-family: "Marker Felt", fantasy;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

time {
  color: #aaaaaa;
  margin-left: 25%;
}

.heart {
  padding: 12px 10px;
  min-width: 40px;
  min-height: 34px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  border: none;
  background-color: transparent;
  background-position: 12px;
  cursor: pointer;
  }

.heart .likes-number {
  margin-left: 30px;
  line-height: 14px;
}

.light-theme .heart {
  color: #6653d9;
  background-image: url("img/like-notadded.svg");
  background-size: 20px;
  opacity: 0.7;
  background-repeat: no-repeat;
}

.dark-theme .heart {
  color: #6653d9;
  background-image: url("img/like-notadded.svg");
  background-size: 20px;
  opacity: 0.7;
  background-repeat: no-repeat;
}

.light-theme .heart.added {
  background-image: url("img/like.svg");
}

.dark-theme .heart.added {
  background-image: url("img/like.svg");
}

/* стили страницы новости */
.comment-form {
  display: flex;
  margin-bottom: 30px;
  padding: 20px 12px;
}

.comment-inner {
  position: relative;
  flex-grow: 1;
  margin-right: 10px;
}

.comment-label {
  position: absolute;
  top: -16px;
  left: -9px;
  padding: 4px 8px;
  font-size: 10px;
  line-height: 14px;
}

.comment-field {
  width: 95%;
  height: 30px;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: 14px;
  line-height: 30px;
}

.comment-field::placeholder {
  color: #aaaaaa;
  font: inherit;
  font-size: 14px;
  font-style: italic;
}

.comment-field:focus::placeholder {
  font-size: 0;
}

.comment-field:hover::placeholder,
.comment-field:active::placeholder {
  opacity: 0.5;
}

.comment-list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 12px;
  margin-left: 0;
  padding: 0;
  list-style: none;
  counter-reset: comments;
}

.comment-list li {
  margin-bottom: 6px;
  padding: 10px 12px;
  min-height: 36px;
  font-size: 14px;
  line-height: 24px;
}

.comment-list .user-comment {
  position: relative;
  display: flex;
}

.comment-list .user-comment::before {
  counter-increment: comments;
  content: "#" counter(comments);
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid;
  font-weight: bold;
}

.comment-list .user-comment::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 0;
  left: -8px;
  border: 4px solid;
  border-left-color: transparent;
  border-top-color: transparent;
}

@keyframes comment-blink-light {
  0% {
    background-color: #b6aaff;
    opacity: 0;
  }

  20% {
    opacity: 0.8;
  }
}

@keyframes comment-blink-light-after {
  0% {
    border-right-color: #b6aaff;
    border-bottom-color: #b6aaff;
    opacity: 0;
  }

  20% {
    opacity: 0.8;
  }
}

@keyframes comment-blink-dark {
  0% {
    background-color: #473c8d;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }
}

@keyframes comment-blink-dark-after {
  0% {
    border-right-color: #473c8d;
    border-bottom-color: #473c8d;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }
}

.light-theme .subscription,
.light-theme .comment-form {
  background-color: #f2f2f2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.dark-theme .subscription,
.dark-theme .comment-form {
  background-color: #303030;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.light-theme .subscription-message {
  background-color: #6653d9;
  color: #eae9f2;
}

.dark-theme .subscription-message {
  background-color: #6653d9;
  color: #eae9f2;
}


.light-theme .subscription-label,
.light-theme .comment-label {
  color: #6653d9;
}

.dark-theme .subscription-label,
.dark-theme .comment-label {
  color: #bfff00;
}

.light-theme .subscription-email,
.light-theme .comment-field {
  border: 1px solid #eae9f2;
  color: #333333;
}

.dark-theme .subscription-email,
.dark-theme .comment-field {
  border: 1px solid #3a3a3a;
  color: #ffffff;
}

.heart:focus,
.heart:hover {
  opacity: 1;
}

.light-theme .heart:focus {
  outline-color: #b6aaff;
}

.light-theme .heart:active {
  opacity: 1;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills {
  padding-top: 64px;
}

.skills-list {
  margin: 0;
  padding: 0;
  background-image: url("img/bg-html.png");
}

.skills-list dt {
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: left;
  text-align: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.skill-python {
  background-image: url("img/icon-python.png");
  background-size: 32px;
}

.skill-pascal {
  background-image: url("img/icon-pascal.svg");
}

.skill-java {
  background-image: url("img/icon-java.svg");
}

.skill-javascript {
  background-image: url("img/icon-javascript.svg");
  background-size: 32px;
}

.skill-php {
  background-image: url("img/icon-php.svg");
}

.light-theme .level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.dark-theme .level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #1f1e1e;
  border: 1px solid #00ff00;
  border-radius: 8px;
}

.light-theme .level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.dark-theme .level div {
  margin: 1px;
  height: 12px;
  background-color: #bfff00;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.slider {
 z-index: 9;
 width: 510px;
 height: 800px;
 overflow: hidden;
 margin: 0 0 7px;
 margin-left: 30%;
 position: relative;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px;
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: px;
 height: 750px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 12px;
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }


.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.light-theme .page-footer {
  padding: 20px 0;
  background-color: #00417d;
  color: #ffffff;
}

.dark-theme .page-footer {
  padding: 20px 0;
  background-color: #141414;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

